<ion-view view-title="微信">

  <ion-nav-buttons side="right">
    <div class="buttons">
      <a class="button button-icon icon ion-android-search"></a>
      <a class="button button-icon icon ion-android-add"></a>
    </div>
  </ion-nav-buttons>

  <ion-content style="background-color: #eee;">
    <div class="list find-list">
      <a class="item item-icon-left" href="#/tab/find/friendscircle">
        <i class="icon ion-aperture" style="color: #11C1F3;"></i>
        朋友圈
        <div class="new-friends-info">
          <img ng-src="img/mike.png">
        </div>
      </a>
    </div>
    <div class="list find-list">
      <a class="item item-icon-left" ng-href="#">
        <i class="icon ion-android-expand" style="color: #11B3F3"></i>
        扫一扫
      </a>
      <a class="item item-icon-left" ng-href="#">
        <i class="icon ion-android-hand" style="color: #11B3F3"></i>
        摇一摇
      </a>
    </div>
    <div class="list find-list">
      <a class="item item-icon-left" ng-href="#">
        <i class="icon ion-ios-body" style="color: #11B3F3"></i>
        附件的人
      </a>
      <a class="item item-icon-left" ng-href="#">
        <i class="icon ion-ios-pint" style="color: #11B3F3"></i>
        漂流瓶
      </a>
    </div>
    <div class="list find-list">
      <a class="item item-icon-left" ng-href="#">
        <i class="icon ion-android-cart" style="color: #EA5D52"></i>
        购物
      </a>
      <a class="item item-icon-left" ng-href="#">
        <i class="icon ion-ios-game-controller-b" style="color: #EA5D52"></i>
        游戏
      </a>
    </div>
  </ion-content>

</ion-view>
