<ion-view  view-title="微信">

  <ion-nav-buttons side="right">
    <div class="buttons">
      <a class="button button-icon icon ion-android-search"></a>
      <a class="button button-icon icon ion-android-add"></a>
    </div>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right gwy-chats-list-item" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}" ng-click="goin(chat)">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon icon-accessory">{{chat.lastTime}}</i>
        <span class="badge badge-assertive" ng-show="chat.newMessageNum">{{chat.newMessageNum | formatNewMessaageNum}}</span>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
