<ion-view view-title="我" style="background-color: #eee;">
  <ion-header-bar align-title="left" class="bar-dark">
    <h1 class="title">微信</h1>
    <div class="buttons">
      <a class="button button-icon icon ion-android-search"></a>
      <a class="button button-icon icon ion-android-add"></a>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list find-list">
      <a class="item item-thumbnail-left" ng-href="#/userinfo" nav-direction="forward">
        <img ng-src="img/mike.png">
        <h2>老王</h2>
        <img class="icon-erweima-aboutme" ng-src="img/icon-erweima.png">
      </a>
    </div>
    <div class="list find-list">
      <a class="item item-icon-left" ng-href="#">
        <i class="icon ion-image" style="color: #11B3F3"></i>
        相册
      </a>
      <a class="item item-icon-left" ng-href="#">
        <i class="icon ion-cube" style="color: #11B3F3"></i>
        收藏
      </a>
    </div>
    <div class="list find-list">
      <a class="item item-icon-left" ng-href="#">
        <i class="icon ion-card" style="color: #11B3F3"></i>
        钱包
      </a>
      <a class="item item-icon-left" ng-href="#">
        <i class="icon ion-ios-albums" style="color: #11B3F3"></i>
        优惠劵
      </a>
    </div>
    <div class="list find-list">
      <a class="item item-icon-left" ng-href="#">
        <i class="icon ion-android-happy" style="color: #FFC900"></i>
        表情
      </a>
    </div>
    <div class="list find-list">
      <a class="item item-icon-left" ng-href="#">
        <i class="icon ion-ios-gear" style="color: #11B3F3"></i>
        设置
      </a>
    </div>
  </ion-content>
</ion-view>
