<ion-view view-title="微信">

  <ion-nav-buttons side="right">
    <div class="buttons">
      <a class="button button-icon icon ion-android-search"></a>
      <a class="button button-icon icon ion-android-add"></a>
    </div>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
      <ion-item class="gwy-friends-list-item">
        <div class="icon-box bgc-energized">
          <i class="icon ion-person-add"></i>
        </div>
        <h2>新的朋友</h2>
      </ion-item>
      <ion-item class="gwy-friends-list-item">
        <div class="icon-box bgc-balanced">
          <i class="icon ion-person-stalker"></i>
        </div>
        <h2>群聊</h2>
      </ion-item>
      <ion-item class="gwy-friends-list-item">
        <div class="icon-box bgc-positive">
          <i class="icon ion-ios-pricetag"></i>
        </div>
        <h2>标签</h2>
      </ion-item>
      <ion-item class="gwy-friends-list-item">
        <div class="icon-box bgc-positive">
          <i class="icon ion-android-contacts"></i>
        </div>
        <h2>公众号</h2>
      </ion-item>
    </ion-list>
    <!-- 联系人 -->
    <ion-list ng-repeat="friend in friends">
      <p class="friends-index">{{friend.index}}</p>
      <ion-item class="item-avatar gwy-friends-list-item" ng-repeat="people in friend.peoples" type="item-text-wrap" href="#/tab/friends/{{people.id}}">
        <img ng-src="{{people.face}}">
        <h2>{{people.name}}</h2>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="index-href">
    <span>A</span>
    <span>B</span>
    <span>C</span>
    <span>D</span>
    <span>E</span>
    <span>F</span>
    <span>G</span>
    <span>H</span>
    <span>I</span>
    <span>J</span>
    <span>K</span>
    <span>L</span>
    <span>M</span>
    <span>N</span>
    <span>O</span>
    <span>P</span>
    <span>Q</span>
    <span>R</span>
    <span>S</span>
    <span>T</span>
    <span>U</span>
    <span>V</span>
    <span>W</span>
    <span>X</span>
    <span>Y</span>
    <span>Z</span>
  </div>

</ion-view>
